.title {
    padding-top: 50px;
    min-width: 100%;
    text-align: center;
}


.title-hr {
    border-color: #FF6363; /* pink */
    /* border-color: #5F4B66; */ /* purple */
}


.form {
    margin-top: 50px;
    text-align: center;
    font-size: 1.2em;
}

.text-input-test {
    border-radius: 5px;
    /* border-color: #FF6363; */
    /* outline: none; */
    border: none;
    /* border: 1px #FF6363 solid; */
    padding-left: 20px;
    /* border: none; */
    /* border-color: red; */
    width: 50%;
    height: 40px;
    margin-bottom: 30px;
}

.text-input-test:focus {
    outline: none;
    border: none;
    box-shadow: 0 1px 1px #ffb7b7 inset, 0 0 8px #ffb7b7;
}

.text-input-test:after {
    border: 1px green solid;
}

.search-button {
    /* margin-top: 30px; */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #5F4B66;
    /* color: white; */
    color: #f7f7f7;
    border: none;
    border-radius: 100px;
    width: 300px;
}

.search-button:hover {
    cursor: pointer;
    background-color: #7f6987;
}

.loading {
    font-size: 1.5em;
}

.results{
    margin-top: 10px;
    text-align: center;
    font-size: 1.3em;
    color: darkslategrey;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.found {
    background-color: #c0edc0;
    border-radius: 50px;
    padding: 15px;
}

.not-found {
    /* background-color: #FE5C5C; */
    background-color: #FE8D8D;
    border-radius: 50px;
    padding: 15px;
}


.error {
    background-color: #ff8484;
    max-width: 400px;
    min-width: 300px;
    min-height: 50px;
    border-radius: 8px;
    position: absolute;
    right: 10px;
    text-align: center;
    font-size: 1.3em;
    box-shadow: 3px 3px #c4aaaa;
    padding: 5px;
}


.close-x {
     width: 40px;
}

.close-x:hover {
    color: white;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}
