<div class="landing">
    <p>Finding Foods</p>
    <p>Search inventory of multiple nearby stores<br>to find any store that has an item in stock.</p>

    <a href="#container"><i class="fas fa-angle-down down-arrow"></i></a>
</div>

<!-- <div class="container"> -->
<div class="main-container">
    <div class="container" id="container">

        <!-- popup window for results -->
        <div class="dialog">
            <app-dialog class="app-dialog"></app-dialog>
        </div>

    </div>
</div>
